.InfoCard {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: var(--cardColor);
  padding: 1rem;
  border-radius: 1rem;
  width: 90%;
}
.infoHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoHead > div:hover {
  cursor: pointer;
}
.logout-button {
  width: 40%;
  height: 5vh;
  margin-top: 10%;
  align-self: flex-end;
}
